
/* COLORS */
$dark-muted : #24333d;
$edward : #a2adae;
$blue-lagoon : #038483;
$white : #fff;
$gray-nurse : #e3e7df;
$sea-nymph : #72a2a3;
$slate-gray : #778a94;
$pelorous : #39c4c6;

/* FONT-SIZES */ 
$text-title : 60px; 
$text-big : 30px;
$text-medium : 24px;
$text-small : 15px;



/* SPACING */ 
$section-spacer : 7rem;

$medium-spacer : 2rem;
$small-spacer : 1rem;
