
/* COLORS */
$dark-muted : #24333d;
$edward : #a2adae;
$blue-lagoon : #038483;
$white : #fff;


/* FONT-SIZES */ 
$text-title : 60px; 
$text-small : 15px;



/* SPACING */ 
$section-spacer : 6rem;

$medium-spacer : 2rem;

