
/* COLORS */
$dark-muted : #24333d;
$edward : #a2adae;
$blue-lagoon : #038483;
$white : #fff;
$gray-nurse : #e3e7df;
$sea-nymph : #72a2a3;
$slate-gray : #778a94;
$pelorous : #39c4c6;
$scarpa-flow  : #4e4d51;
$primary : #daeced;
$wood-smoke : #121117;
/* FONT-SIZES */ 
$text-title : 60px; 
$text-big : 48px;
$text-large : 30px;
$text-medium : 24px;
$text-small : 15px;



/* SPACING */ 
$section-spacer : 7rem;
$large-spacer : 3.5rem;
$medium-spacer : 2rem;
$small-spacer : 1rem;
