@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&display=swap');
@import "./variables";
@import "./general";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
    font-family: 'Montserrat', sans-serif;
}