@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");
@import "./variables";
@import "./general";
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  font-family: "Montserrat", sans-serif;
}

/* BUTTON STYLES USED IN NAVBAR , HERO  */
.btn-main {
  background-color: $blue-lagoon;
  color: $white;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem 1.2rem;
}

.btn-main.outline {
  border: 2px solid $blue-lagoon;
  background-color: transparent;
}

/* CARD STYLES  */

/* card used in FirstCardSection and BusinessArea */

.card-section{
  border-radius: 4px;
  padding: 2.2rem 2.2rem 1.7rem;
  height: 100%;
  
  i,h2,p { margin-bottom: $small-spacer;}
  
  i {
    font-size: $text-large;
  }

  h2 {
    font-size: $text-medium;
  }
  p {
    font-size: $text-small;
    max-width: 30ch;
  }
}